/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button


// JOIN STUFF
.signup input.join-today, section.join .button,  {
  border: none;
  width: 230px !important;
  height: 40px;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  background: $black url('../images/join-today-left-arrows.svg') !important;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.35em !important;
  text-align: right;
  padding: 0 20px 0 0 !important;

  &:hover {
    background-color: $button-hover;
  }
}

#rightbar input.submit {
  border: none;
  width: 125px;
  height: 20px;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  background: url('../images/subscribe-arrows-small.svg');
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .65em;
  text-align: right;
  padding-right: 20px;
  background-color: $black;

  &:hover {
    background-color: $button-hover;
    color: $white;
  }
}

#rightbar input.text {
  border: 1px solid #ccc;
  height: 30px;
}

section.join {
  display: block;
}

#playBtn {
  clear: both;
  margin: 30px auto;
  cursor: pointer;
  font-size: 1.4em;
  width: 100%;
  max-width: 500px;
  border-right: solid 14px #B4D15F;
  float: none;
  height: 80px;
  width: 100%;
}

#playBtn:before {
  height: 80px;
}

#playBtn span {
  height: 80px;
  padding: 30px 25px 0 20%;
  width: 80%;
}

#playBtn span i {
  font-size: 25px;
  right: -15px;
  top: 33px;
}

.multibutton:link,
.multibutton:visited,
div.multibutton {
  background-color: #262626;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: 15px;
  color: #FFFFFF;
  border: 0;
  border-left: 14px solid #ffa200;
  display: block;
  float: left;
  height: 35px;
}
.multibutton:link:before,
.multibutton:visited:before,
div.multibutton:before {
  content: "";
  width: 14px;
  background-color: #e71c75;
  display: block;
  float: left;
  height: 35px;
}
.multibutton:link span,
.multibutton:visited span,
div.multibutton span {
  display: block;
  float: left;
  border-left: 14px solid #00ada8;
  padding: 8px 25px 0 20px;
  height: 35px;
  position: relative;
}
.multibutton:link span i,
.multibutton:visited span i,
div.multibutton span i {
  font-size: 9px;
  display: block;
  position: absolute;
  right: 10px;
  top: 9px;
  color: #FFFFFF;
}
.multibutton:link:hover,
.multibutton:visited:hover,
div.multibutton:hover {
  background-color: #b4d15f;
  color: #262626;
}
.multibutton:link:hover i,
.multibutton:visited:hover i,
div.multibutton:hover i {
  color: #262626;
}


iframe {
    .jp-play {
      background: url('../images/play-circle-outline.png') no-repeat !important;
      background-size: 27px !important;
    }

}


// Media queries for custom buttons
@media (min-width: 481px) {
  #playBtn {
    span {
      font-size: 30px;
    }
  }
}



