.slicknav_menu {
	background-color: transparent;
	padding: 0px;
}

.slicknav_menu {
	display: block;
}
.slicknav_nav {
	background-color: #1B1B1B;
}

.slicknav_nav {
	text-align: center;
	
	a {
		padding: 12px 12px;

		&:hover {
			background: #3B3B3B;
			color: #fff;
			border-radius: 0px;

		}
	}

	li {

		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		
		&:nth-child(8) {
			background-color: $orange;
			a {
				color: $white;
				
			}
		}

		&:nth-child(9) {
			background-color: $pink;
			a {
				color: $white;
			}
		}

		&:nth-child(10) {
			background-color: $aqua;
			a {
				color: $white;
				
			}
		}

		&:nth-child(11) {
			background-color: $light-green;
			a {
				color: $white;
			}
		}
	}

	li.social a {
		display: inline-block;
		max-width: 39px;
	}

}

.slicknav_nav .slicknav_row, .slicknav_nav a {
	margin: 0;
}

.slicknav_btn {
	margin: 0;
	border-radius: 0px;
	background-color: $black-gray;
	width: 100%;
	text-align: center;
}

.slicknav_menu .slicknav_menutxt, .slicknav_menu .slicknav_icon {
	display: inline-block;
	float: none;
}

.slicknav_menutxt {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.slicknav_icon {
    padding-top: .112em;
}

.menu-more {
	position: fixed;
	bottom: 0px; 
	background-color: $white;
	color: $black;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
