/* WooComemrce Override Styles */

#product-6122 p.price {
	display: none;
}
.woocommerce #container {
	max-width: 1040px;
	margin: 0 auto;
}

.woocommerce-page .entry-content {
	width: 100%;
}

.woocommerce-cart .entry-content {
	width: 100%;
	padding: 0;
}

.product_meta, .in-stock {
	display: none;
}

.add_to_cart_inline {
	display: none;
}

.woocommerce-ordering {
	display: none;
}

.woocommerce #rightbar {
	display: none;
}

.single-product .woocommerce-breadcrumb {
	display: none;
}

.post-type-archive-product ul.products li.product, .woocommerce-page ul.products li.product {
	width: 45%;
}

body.woocommerce div.woocommerce-tabs div#tab-description.panel h2 {

    color: #FFFFFF;
    border-bottom: solid 1px #B4D15F;
    position: relative;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    padding: 5px 10px;
    font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body.woocommerce div.woocommerce-tabs div#tab-description.panel h2:after {
    background-color: #B4D15F;
    display: inline-block;
    content: "";
    position: absolute;
    width: 163px;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.woocommerce ul.products li.product h3 {
	font-weight: 600;
	font-family: $serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

.woocommerce ul.products li .button {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.woocommerce .summary {
	h3 {
		font-family: $serif;
	}
	
	h4 {
		margin: 10px 0 30px 0;
	}
}

.wc-tabs {
	display: none;
}

.single-product .product_title, body.single-product p.price  {
		text-align: center;
}

.woocommerce-cart #main {
	margin-top: 0px;
}

.header-cart-display, .mobile-cart-display {
	display: none;
	a {
		display: inline-block !important;
		color: $white;

		&:hover {
			color: $pink !important;
			opacity: 1.0;
		}
	}
}

a.custom-cart {
	color: $white !important;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: $light-green;

	&:hover {
		background-color: $orange;
	}
}
.woocommerce .cart .button, .woocommerce .cart input.button {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.woocommerce .checkout-button, .woocommerce #place_order {
    background-color: #B4D15F !important;
    padding: .618em 1em;
}

.woocommerce .quantity .qty {
	display: none;
}

span.amount {
	color: $black;
	font-weight: 600;
}

.woocommerce-checkout-payment {
	ul {
		li {
			list-style: none !important;
		}
	}
}

@media (max-width: 767px) {
	body.single-product .images:first-child img {
	   	max-width: 320px;
	    margin: 0 auto;
	}

	// to minimize white space ... 
	.single-product #content {
		margin-top: -30px;
	}
}

@media (min-width: 768px) {
	.woo-d-1of3 {
		width: 33.33% !important;
		margin: 0 !important;
	}

	.woo-d-4of7 {
		width: 66.66% !important;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 100%;
	}

	.single-product .product_title, body.single-product p.price  {
			text-align: left;
	}
	body.single-product .images:first-child img {
		width: 100% !important;
		margin: 0 auto;
	}
   

}

@media (max-width: 480px) {
	.post-type-archive-product ul.products li.product, .woocommerce-page ul.products li.product {
		width: 100%;
	}
}
