/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.nav {
	li {
		font-size: 1.0em;
	}
}

header #menu-sections {
	
	li {
		
		font-size: 38px;
		padding-left: 65px;
		width: 175px;
	}

}

#menu-main-menu {
	display: block;

	// these are in the sections menu for desktop
	li {

		&:nth-child(7) {
			display: none;
		}

		&:nth-child(8) {
			display: none;
		}

		&:nth-child(9) {
			display: none;
		}

		&:nth-child(10) {
			display: none;
		}
		
	}
}

#sub-header {
	min-height: 110px;
	margin: 50px 0 0 0;
}

.join-pink {
	display: block;
}

.slicknav_menu {
	display: none;
}

#intro {
	display: block;
	height: 240px;
	margin-top: 40px;
	padding: 20px 30px 30px 30px;
	border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
	h2 {
		margin: 0.2em 0 0.2em 0;
		// font-size: 3.2em;
	}
}

.right-intro {
	position: relative;
	img {
		position: absolute;
	    right: -30px;
	    top: -60px;
		z-index: 1;
		max-width: 300px;
	}

	ul {
		text-align: right;
		width: 295px;
		margin-left: 50px;

		li {
			border-bottom: 1px solid #EEEEEE;
			color: #666666 !important;
			list-style: none inside none;
			padding: 5px 0;
		}
	}

	h1 {
		font-size: 3.2em;
		margin-left: -70px;
	}
}
.left-intro {

	h2 {
		&:first-child {
			span {
				color: $orange;
			}
		}

		&:nth-child(2) {
			span {
				color: $pink;
			}
		}


		&:nth-child(3) {
			span {
				color: $aqua;
			}
		}
	}

}

#inner-header {
	text-align: left;
	
	nav {
		border-left: solid 14px $orange;
		border-right: solid 14px $light-green;

		ul {
			border-left: solid 14px $pink;
		}

		li {

			&:first-child {
				border-left: solid 14px $aqua;
			}
			
		}
	}
}



#rightbar {
	display: block;
}

.sidebar {
	margin-top: 2.2em;
}
.signup .left-text {

	h3 {
		max-width: 100%;
	}
}

/* page edits */
.page #main, .blog #main {
    width: 80%;
    margin-top: 30px;
}

.page-template-page-nosidebar #main {
	width: 100%;
}

.page .entry-content {
	padding: 0 10px 0 0;
}	

.page-template-page-writerigniter #main {
	width: 100%;
}

main {
	margin-top: 30px;
}

h1.entry-title {
	font-size: 2.7em;
}

.entry-thumbnail.m-all {
	padding-right: 30px;
}

/* Writer Igniter */

.jSlots-wrapper {
  overflow: hidden;
  height: 297px;
  display: inline-block;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  margin: 30px 2% 0 0;
  width: 23%;
  position: relative;
  z-index: 1;
  padding-top: 60px;
}
.jSlots-wrapper:last-of-type {
  margin-right: 0;
}
.jSlots-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.jSlots-wrapper ul li {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  padding-top: 37%;
  list-style-type: none;
  margin-left: 0px;
}
.jSlots-wrapper img {
  width: 100%;
}
.jSlots-wrapper:before {
  background-color: #262626;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 600;
  color: #FFFFFF;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.slot-1:before {
  content: "Character";
  border-bottom: solid 5px #FFA200;
}
.slot-2:before {
  content: "Situation";
  border-bottom: solid 5px #E71C75;
}
.slot-3:before {
  content: "Prop";
  border-bottom: solid 5px #00ADA8;
}
.slot-4 ul li {
  padding: 0;
}
.slot-4:before {
  content: "Setting";
  border-bottom: solid 5px #B4D15F;
}
.slot {
  float: left;
}
.slot li {
  height: 245px;
}

/* join page */
.testimonial-text {
	text-align: left;
}

.testimonial-image {
	display: block;
}

// .top-testimonials {
// 	width: 33.33%;
// 	display: inline-block;
// }   

// .join-intro {
// 	width: 66.66%;
// 	display: inline-block;
// }

.join-supportive {
	ul {
		li {
			display: inline-block;
		}
	}
}

.join-supportive #testimonials h2 {
	margin: 0 0 0 0;
}

#fade {
	margin-top: -6px;
}

section.join {
	.free-starter-kit {
		margin-top: 30px;
	}
}
.join-intro-left {
	img {
    	margin-left: 25px;
	}
}
/* Footer */

#footer-container {
	padding: 0px;
}

/* 404 */
.error404 {
	h1 {
		margin-top: 15px;
		margin-bottom: 30px !important;
	}
	
	
	.join {
		input {
			margin-top: 25px !important;
		}

		.join-badge {
			float: none;
		}
	}
	
}  
