/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	// width: 760px;
}

.woocommerce #container {
	// width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

h1, .h1 {
	 font-size: 3.0em;
}

h2, .h2 {
	 font-size: 3.0em;
}

/*********************
NAVIGATION STYLES
*********************/

#menu-main-menu {
	display: none;
}
#inner-header {
	text-align: left;
	
	nav {
		border-left: solid 6px $orange;
		border-right: solid 6px $light-green;

		ul {
			border-left: solid 6px $pink;
		}

		li {

		    // padding: 18px 20px;
		    border-left: solid 1px #FFFFFF;
		    height: 55px;
		    letter-spacing: 0.5px;

			&:first-child {
				border-left: solid 6px $aqua;
			}
			
		}
	}
}

nav ul li.current-menu-item {
    background: url(menu-border.png) repeat-x left bottom;
}

nav ul li.social span,
nav ul li.social a {
  font-family: "ltc-bodoni-175", serif;
  font-style: italic;
  font-weight: 400;
  color: $white;
  font-size: 25px;
}
nav ul li.social a {	
  display: inline-block;
}
nav ul li.social span {
  display: none;
}

.nav {
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $pink;
				text-decoration: none;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

#sub-header {
	// min-height: 110px;
	margin: 30px 0 0 10px;
}

#intro {
	display: block;
	height: 200px;
	margin-top: 40px;
	padding: 20px 30px 30px 30px;
	border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
	h2 {
		margin: 0.2em 0 0.2em 0;
	}
}

header #menu-sections {
	display: block;

	li {
		display: inline-block;
		font-family: "ltc-bodoni-175", serif;
		font-style: italic;
		font-weight: 400;
		font-size: 1.6em;
		text-transform: lowercase;
		padding-left: 65px;
		vertical-align: top;
		width: 23%;

		a {
			// padding-left: 45px;

			span {
				// padding-left: 45px;
				display: block;
				position: absolute;
				font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				font-style: normal;
				font-size: .35em;
				padding-top: 5px;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
	}

}

.right-intro {
	position: relative;
	img {
		max-width: 140px;
		position: absolute;
		right: -30px;
		top: -25px;
		z-index: 1;
	}

	ul {
		text-align: right;
		width: 295px;
		margin-left: 3%;

		li {
			border-bottom: 1px solid #EEEEEE;
			color: #666666 !important;
			list-style: none inside none;
			padding: 5px 0;
		}
	}

	h1 {
		margin-top: 0px;
		font-size: 2.6em;
		margin-left: -20px;
	}
}
.left-intro {

	h2 {
		&:first-child {
			span {
				color: $orange;
			}
		}

		&:nth-child(2) {
			span {
				color: $pink;
			}
		}


		&:nth-child(3) {
			span {
				color: $aqua;
			}
		}
	}

	// span {
	// 	font-size: 40px;
	// 	font-weight: 600;
	// 	font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	// 	text-transform: uppercase;
	// 	font-style: normal;
	// }
}


a.biolink {
	display: inline-block !important;
}

/* Join snippet and join page */

.join-intro {
	h1 {
		font-size: 2.6em;
		margin: 0.67em 0;
	}
}

/* this is just for includes file.  Center on join page */
section.join {
	text-align: left;
	padding-bottom: 15px;
	h2 {
		font-size: 3.0em;
	}
}

.free-starter-kit {
	margin-top: 0px;
	text-align: right;
	padding-right: 0px;
}

/* and this for join page */
.page-template-page-join {
	section.join {
	   text-align: center;
	}
}

.page .entry-content {
	padding: 0 10px 0 0;
}	

.entry-thumbnail.m-all {
	padding: 0 30px 0 0;
}

.join-intro-left {
	max-width: 47%;
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	padding-top: 5%;
}

.join-intro-right {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 50%;
}

.join-intro {
	ul {
		padding-left: 20px;
	}
}

/*********************
FRONT PAGE
*********************/

.signup .right-text {
	width: 40%;
	display: inline-block;
	form {
	    position: absolute;
	    width: 440px;
	    // margin: 5px 0 0 18px;
	    right: 20px;
	    margin-top: 5px;
	    input.text {
	    	display: inline-block; 
	    	width: 200px; 
	    	margin-top: 5px;

	    	}
	    input.join-today {
	    	width: 223px; 
	    	margin-top: 5px;
	    	} 

	    }
	}

.signup .left-text {
	width: 55%;
	display: inline-block;
	text-align: left;
	h3 {
		max-width: 78%;
		}
}

.join-pink {
	// display: block;
}

/* Writer Igniter */
.jSlots-wrapper {
	width: 23%;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}

/* single posts */

#featured-image {
	float: right;
	max-width: 500px;
	margin: 15px 0 30px 30px;

	img {
		width: 100%;
	}
}

.single article {
	float: left;
	p {
		float: none;
	}
}

.category-podcast iframe {
	// float: right;
	// margin: 0 0 10px 10px;
}
/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

// additional woocommerce changes
.coupon {
	input {
		width: 100% !important;
		max-width: 200px !important;
		// float: left;
	}
}

.actions {
	input {
		width: 100%;
		max-width: 200px !important;
	}
}
