/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;

}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
	width: 100%;
}

/* TYPEKIT */
	
  .wf-loading h1 {
    visibility: hidden;
  }
  .wf-active h1 {
    visibility: visible;
  }
  .wf-loading h4 {
    visibility: hidden;
  }
  .wf-active h4 {
    visibility: visible;
  }

  #inner-header nav ul {
  	max-height: 55px;
  }

  .wf-loading li {
    visibility: hidden;
    font-size: 10px;
  }
  .wf-active li {
    visibility: visible;
  }
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {
	 color: #545454;
	 text-transform: uppercase;
	 font-size: 14px;
	 font-weight: 500;
	 letter-spacing: 1px;
	}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {

	.entry-header {
		padding: 0 0 0 0;
	}
	h1 {
		margin: 0 0;
	}

	h3 {
		font-family: "ltc-bodoni-175", serif;
		font-style: italic;
		color: #262626;
		font-size: 1.4em;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	.error-right {
		img {
			width: 100%;
		}
	}

	.error-left {

	}

	.ck_form.ck_minimal {
		max-width: 100% !important;


		input[type="text"], input[type="email"] {
			
		}

		.join-badge {
			
			img {
				// max-width: 220px;
				// padding: 0 15px 15px 15px;
			}
		}
	}

}                      			/* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

#searchform input {
	padding: 0px;
	:focus {
		 outline: -webkit-focus-ring-color auto 5px;
		 outline-offset: -2px;
	}
}
/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
	max-width: 1030px;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	font-weight: 600;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-size: 42px;
	line-height: 120%;

	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2em;
	// line-height: 1.333em;
	font-family: $serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-style: italic;
	font-weight: 400;
}

h2, .h2 {
	font-size: 1.6em;
	font-weight: 200;
	// line-height: 1.4em;
	margin-bottom: 0.375em;
	font-style: $serif;
}

.h2.entry-title a {
	color: $black;

	&:hover {
		color: $aqua;
	}
}

h3, .h3 {
	font-size: 1.8em;
    line-height: 130%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: italic;
    font-fanmily: $sans-serif;
    font-weight: 300;
}

h4, .h4 {

	font-family: $sans-serif; 
	font-style: normal;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 1.25em;
	line-height: 120%;
	font-weight: 600;
	padding: 0 5px;

	a {
		font-weight: 400;
	}
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
	color: $black;

	a {
		color: $black;
	}

}

	#logo {
		margin: 0.75em 0;

		a {
			color: $black;
		}
	}

#inner-header {
	text-align: center;
}

/* Homepage Intro */
#intro {
	display: none;

	h2 {
		font-family: $serif;
		font-size: 2.6em;
		font-style: italic;
		-webkit-font-smoothing: subpixel-antialiased;		
	}
}
.left-intro {
	span {
		font-size: 36px;
		font-weight: 600;
		font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		text-transform: uppercase;
		font-style: normal;
	}
}

/********Home Page Sub Header Bar (Grey)*********/

#sub-header {
	min-height: 110px;
	margin: 25px 0;
}

.signup {
	clear: both;
	background-color: $box-gray;
	bottom: 0;
	width: 100%;
	z-index: 2;
	padding: 15px 20px;
	min-height: 70px;
	display: none;
}

.home .signup {
	display: block;
	position: relative; 
	input.text {
		display: inline-block;
		width: 100%;
		margin-bottom: 0;
		margin-top: -5px;
	}
	input[type="text"]:focus {
		outline: -webkit-focus-ring-color auto 5px;
			 outline-offset: -2px;
	}
}

.signup .right-text {
	width: 100%; 
	float: left; 
	text-align: center;
	form {
	    top: 12px;
	    width: auto; 
	    input.text {
		    height: 41px;
		    color: #79796A;
		    background: $white; 
		    font-size: 16px;
		    // float: left; 
		    margin-top: 10px; 
		    margin-right: 5px;
		    border: solid 1px #79796A;
		    vertical-align: top;
	    }
	    input.join-today {
	    	width: 100%;
	    	height: 40px;
	    	border: none;
	    	display: inline-block;
	    	// float: right; 
	    	max-width: 230px;
	    	margin-top: 15px;
	    }
	}
}

.signup .left-text {
	width: 100%; 
	// float: left; 
	text-align: center;
	a.biolink {
		display: none;
		font-size: 14px;
	    font-weight: 600;
	    color: #FFF;
	    background-color: rgba(234,16,116,0.7);
	    padding: 3px 8px;
	    position: absolute;
	    top: -25px;
	    right: 0;
	}
	h3 {
		font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    	font-size: 19px;
    	font-weight: 600;
    	line-height: 130%;
    	font-style: normal;
    	margin: 0; 
    	a {
    		font-weight: 400; 
    		color: #E71C75;
    	}
	}
	p {
	margin: 0; 
		a {
		font-size: 14px;
    	line-height: 130%;
    	color: #666666;
    	font-weight: 400;
		}
	}
}

section.join {
	text-align: center;
	.m-all {
		margin-bottom: 30px;
	}
	form {
	    top: 12px;
	    width: 100%;
	    display: inline-block;
	    input.text {
	    	display: inline-block;
		    height: 41px;
		    color: #79796A;
		    background: $white; 
		    font-size: 16px;
		    // float: left; 
		    margin-right: 5px;
		    border: solid 1px #79796A;
		    vertical-align: top;
		    max-width: 230px;
	    }
	    input.join-today {
	    	width: 100%;
	    	height: 40px;
	    	border: none;
	    	display: inline-block;
	    	// float: right; 
	    	max-width: 230px;
	    	margin-top: 15px;
	    }
	   h2 {
	    	font-family: $serif;
	    	font-style: italic;
	    	-webkit-font-smoothing: subpixel-antialiased;
	    	font-weight: 200;
	    }
	}

	.ck_minimal {
		border: none !important;
		background: transparent !important;
		.ck_form_fields {
			padding: 0% !important;
		}
	}
	
}

.free-starter-kit {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* join page */

.page-template-page-join {
	form {
	    top: 12px;
	    width: auto; 
	    input.text {
	    	display: inline-block;
		    height: 41px;
		    color: #79796A;
		    background: $white; 
		    font-size: 16px;
		    // float: left; 
		    margin-right: 5px;
		    border: solid 1px #79796A;
		    vertical-align: top;
		    max-width: 230px;
	    }
	    input.join-today-top {
	    	width: 100%;
	    	height: 40px;
	    	border: none;
	    	display: inline-block;
	    	vertical-align: top;
	    	// float: right; 
	    	max-width: 230px;
	    	margin-top: 0px;
	    }
	    section.join {
	    	text-align: center;
	    }
	}

	.join {
		margin-top: 30px;
	}
}

.page-template-page-join .join-intro {
	text-align: center;
	padding: 30px 15px 25px 15px;
	background-color: $box-gray;

	h1 {
		font-size: 2.2em;
		margin: 0 0 0.67em 0;
	}

	h2 {
		color: $black;
		font-size: 24px;
		text-align: center;
		font-weight: 400;
		margin: 30px 0 20px 0;
		font-style: normal;
		font-family: $sans-serif;
	}

	ul {
		margin: 0 auto;
		max-width: 650px;
		text-align: left;
		padding: 0 0 0 15px;
		// list-style-type: none;
		li {
			// border-bottom: solid 1px #CECECE;
			padding: 8px 0;
			font-style: italic;
		}
	}
}

.join-intro-left {
	width: 100%;
	img {
		width: 100%;
		max-width: 400px;
	}
}

.join-intro-right {
	width: 100%;
}

.join-supportive {
	ul {
		padding: 15px 0 20px;
		text-align: center;
		margin: 0 0 0 0;
		
		li {
			display: inline-block;
			text-align: center;
			display: inline-block;
			margin: 10px 20px;
			color: #666;

			h3 {
				font-family: $sans-serif;
				font-weight: 600;
				font-style: normal;
				text-transform: uppercase;
				font-size: 2.2em;
				margin: 0 0 0 0;

			}
			&:first-child {
				h3 {
					color: $orange;
				}
			}

			&:nth-child(2) {
				h3 {
					color: $pink;
				}
			}

		    &:nth-child(3) {
				h3 {
					color: $aqua;
				}
			}
		}
	}

	p {
		font-size: 1.2em;
		line-height: 1.3em;
	}
}

.color-divider {
	 background: url(../images/border-thick.png) repeat-x left bottom;
	 height: 5px;
	 width: 100%;
}

// cycle override

#fade {
	margin-top: 40px;
	max-width: 100% !important;
	min-height: 400px;	
	article {
		min-width: 100% !important;
	}
	p.author {
		font-family: $serif;
		font-style: italic;
		color: $black;
		font-size: 1.4em;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}
.join-supportive #testimonials {
  margin: 30px auto 45px auto;
  width: 100%;
  word-wrap: break-word;
}
.join-supportive #testimonials h2 {
	background-color: #262626;
	font-family: $sans-serif;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .08em;
	font-size: 15px;
	color: $white;
	width: 100%;
	text-align: center;
	padding: 7px 0;
	position: relative;
	max-width: 180px;
	z-index: 200;
	margin: 0 auto;
}
.join-supportive #testimonials h2 i {
  display: block;
  position: absolute;
  font-style: normal;
  bottom: -12px;
  color: #262626;
  margin: 0 auto;
  font-size: 30px;
  width: 100%;
}
.join-supportive #testimonials div.box {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: rgba(238, 238, 238, 0.44);
  height: auto;
}
.join-supportive #testimonials div.box img {
  float: left;
  margin: 0 10px 10px 0;
}
.join-supportive #testimonials div.box p {
  margin-bottom: 10px;
}
.join-supportive #testimonials div.box .author {
  font-family: "ltc-bodoni-175", serif;
  font-style: italic;
  font-weight: 400;
}
.join-supportive #testimonials div.box .author a:link,
.join-supportive #testimonials div.box .author a:visited {
  font-weight: 400;
}
.join-supportive #testimonials div.box .author:before {
  content: "";
  background: url(images/list_pen.png) left top no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 7px;
}
.join-supportive #testimonials div.box .clear {
  height: 10px;
}
.join-supportive ul li {
  display: block;
  color: #666;
  text-align: center;
}
.join-supportive ul li h3 {
  font-size: 30px;
  font-family: $sans-serif;
  text-transform: uppercase;
  font-style: normal;
  display: inline-block;
  margin: 0 5px;
  font-weight: 600;
}

#testimonials {
	article {
		// max-width: 420px;
		height: auto;
		width: auto;
	}

	img {
		max-width: 180px !important;
		min-width: 180px !important;
	}

	p {
		margin-top: 0;
	}
}

.testimonial-text {
	text-align: center;
}

.testimonial-image {
	display: none;
}

.top-testimonials {
	// width: 100%;
}
/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

#menu-main-menu {
	display: none;
	background-color: $black;
}

#logo {
	padding: 0 0.75em 0 0.75em;
}

.nav {
	border-bottom: 0;
	margin: 0;

	li {
		padding: 18px 20px;
		font-size: 0.8em;

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0;
			font-weight: 800;
    		text-transform: uppercase;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */

	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

li.social span {
	display: none;
}

/* Addthis ------------------------------- */
.addthis_toolbox {
  clear: both;
  border-top: dotted 1px #79796a;
  margin-top: 50px;
  padding-top: 10px;
}
.addthis_toolbox:before {
  content: "";
  display: table;
  clear: both;
}
.addthis_toolbox span {
  display: block;
  float: left;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: 15px;
  margin: 0px 20px 0 0;
}
// Search edits

.search {

	#sub-header {
		a {
			img {
				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					display: none;
				}
			}
			
		}
	}

	article {
		border-bottom: 1px solid #79796A;
	}

	.article-footer {
		border-bottom: none;
	}
}
.search-menu-item {
	padding: 12px 12px;
	cursor: pointer;

	&:hover {
		background-color: $slick-hover;
	}
}

#search-overlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 200;
	top: 0;
}

.overlay-close {
	color: #fff;
    font-size: 2.2em;
    text-align: right;
    padding: 10px 5px 10px 10px;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.search-bar-mobile {

	margin-top: 45%;
	text-align: center;

	fieldset {
		border: 0px; 
	}

	input {
		background-color: transparent;
		border-bottom: 1px solid #fff;
		width: 90%;
		display: inline-block;
		color: $white;
		padding: 5px;

		&:focus {
			background-color: #404040;
		}
	}

	button {
		display: inline-block;
		background-color: transparent;
		border: none;
		color: $white;
		font-size: 20px;
	}
}

header #menu-sections {
	display: none;
}

header ul .write a:link, header ul .write a:visited, header ul .write a:hover {
    color: $orange;
}

header ul {
	li {
		a {
			&:hover {
				filter: alpha(opacity=70);
				-moz-opacity: .70;
				opacity: .70;
				-khtml-opacity: .70;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
		}
	}
}

li.write a {
	&:before {
		content: '';
		display: block;
		background: url('../../library/images/yellow-pen.png') no-repeat;
		position: absolute;
		height: 64px;
		background-size: 36px;
		width: 36px;
		margin-left: -45px;

	}
}


header ul .read a:link, header ul .read a:visited, header ul .read a:hover {
    color: $pink;
}

li.read a {
	&:before {
		content: '';
		display: block;
		background: url('../../library/images/pink-pen.png') no-repeat;
		position: absolute;
		height: 64px;
		background-size: 39px;
		width: 36px;
		margin-left: -45px;

	}
}

header ul .community a:link, header ul .community a:visited, header ul .community a:hover {
    color: $aqua;
}

li.community a {
	&:before {
		content: '';
		display: block;
		background: url('../../library/images/teal-pen.png') no-repeat;
		position: absolute;
		height: 64px;
		background-size: 36px;
		width: 36px;
		margin-left: -45px;

	}
}

header ul .store a:link, header ul .store a:visited, header ul .store a:hover {
    color: $light-green;
}


li.store a {
	&:before {
		content: '';
		display: block;
		background: url('../../library/images/green-pen.png') no-repeat;
		position: absolute;
		height: 64px;
		background-size: 36px;
		width: 36px;
		margin-left: -45px;

	}
}

.join-pink {
	display: none;
	float: right;
	width: 76px;
	height: 43px;
	margin: 0 50px 20px auto;
	padding-top: 8px;
	position: relative; 
	background: hotpink;
	color: white;
	font-size: 1em;
	letter-spacing: 0em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: hotpink; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#FFA0D0, #EA1074); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFA0D0, #EA1074); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFA0D0, #EA1074); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFA0D0, #EA1074); /* Standard syntax */

	&:after {
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 0;
		border-bottom: 13px solid white;
		border-left: 38px solid transparent;
		border-right: 38px solid transparent;
		}
	}

// * {
//   box-sizing: border-box;
// }

.wp-pagenavi span.pages {
	font-family: "ltc-bodoni-175", serif;
	font-style: italic;
	font-weight: 400;
	padding: 4px 5px 3px;
}

.wp-pagenavi span.current {
	background-color: #00ADA8;
    color: #FFFFFF;
    font-weight: 600;
}

// single post navigation
.single #postnav a:link:first-child, .single #postnav a:visited:first-child {
	float: left;
}

.single #postnav a:link, .single #postnav a:visited {
    float: right;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.single article {
	width: 100%;
}
.entry-time {
	text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 0.9em;
    color: #545454;
    font-weight: 500;
}
.single-post .entry-content {
	width: 100%;
	padding: 0px;
	float: none;
	p {
		margin-bottom: 30px;
		line-height: 1.5em;
	}
}

.page .entry-content {
	width: 100%;
	padding: 0 0 0 0;
}

.home .entry-content {
    padding: 0em 1.5em;
}

.page #main {
	width: 100%;
} 

.hentry header.article-header {
	// padding: 0 0 1.5em 0;
}

#content {
	margin-top: 0em;
	padding: 10px;

}
		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			header {
				padding: 0 0 1.5em 0;
			}

			footer {
				padding: 0 0 1.5em 0;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: normal;
			font-weight: 400; 
			font-size: 100%; 
			margin: 0;

			time {}
		}


		.entry-thumbnail {
			padding: 0em 1.5em;
		}
		/* entry content */
		.entry-content {
			padding: 0em 1.5em;

			h2 {
				font-size: 20px;
				line-height: 120%;
				margin-top: 10px;
				font-weight: 600;
			}
			h3 {

				margin-bottom: 10px;
				font-family: $serif;

			}

			h4 {
				margin-bottom: 10px;
				padding: 0 0;
			}

			span.pen {
				 
					margin: 10px 0 0 0;
					display: block;
			}

			span.orange_pen:before {
					width: 40px;
					height: 40px;
					content: url('../images/category-pens/header-orange-pen.svg');
					margin-right: 10px;
			}
			span.pink_pen:before {
					width: 40px;
					height: 40px;
					content: url('../images/category-pens/header-pink-pen.svg');
					margin-right: 10px;
			}
			span.teal_pen:before {
					width: 40px;
					height: 40px;
					content: url('../images/category-pens/header-teal-pen.svg');
					margin-right: 10px;
			}
			span.green_pen:before {
					width: 40px;
					height: 40px;
					content: url('../images/category-pens/header-green-pen.svg');
					margin-right: 10px;
			}
			span.blue_pen:before {
					width: 40px;
					height: 40px;
					content: url('../images/category-pens/header-blue-pen.svg');
					margin-right: 10px;
			}

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ol {
				counter-reset: headings;	
				li {
					position: relative;
					margin: 0 0 20px 2em;
					padding: 0 8px 0 10px;
					border-left: dotted 1px #545454;
					list-style-type: none;
					line-height: 150%;
				}
			}

			ol > li:before {
					counter-increment: headings;
					content: counter(headings);		    
				 	position: absolute;
				    top: 0;
				    left: -30px;
				    margin-right: 8px;
				    padding: 4px;
				    font-family: "ltc-bodoni-175", serif;
				    font-style: italic;
				    font-weight: 400;
				    font-size: 30px;
				    -webkit-font-smoothing: subpixel-antialiased;
			}

			ul, ol {

				li {}

			}

			ul {

				li {
					list-style: disc;
					padding: 5px 0;
					margin-left: 40px;
					line-height: 150%;
				}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0;
				padding: 0 0 0 0.75em;
				// border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			// should this be in blockquote?  Getting generated by category
			.quote {
				font-family: $serif;
			    font-style: italic;
			    font-weight: 400;
			    font-size: 1.8em;
			    margin: 30px;
			    line-height: 130%;
			    -webkit-font-smoothing: subpixel-antialiased;
			}

			.quotesource {
				font-size: 1.3em;
				-webkit-font-smoothing: subpixel-antialiased;
			    clear: both;
			    display: block;
			    margin: 0 40px;
			    line-height: 130%;
			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

iframe {
	max-width: 100%;
}

.category-podcast iframe {
	display: block;
}

#featured-image {
	img {
		width: 100%;
		height: auto;
	}
}

/******************************************************************
PAGE STYLES
******************************************************************/

	.entry-thumbnail {
		float: left; 
		margin-top: 12px; 
		img {
		   width:100%;
		   height: auto; 
		}
	}
	.entry-content {
	    float: left;
	    // padding:0 0 20px 0;
	    // margin-left: 20px;
	    header {
			padding: 0; 
			.entry-title {
				a {
					font-family: "ltc-bodoni-175", serif;
					font-weight: 400; 
					font-style: italic;
					font-size: 100%; 
					line-height: 120%;  
				}
			}
		}
	}
	.article-footer {
	   border-bottom: solid 1px $bottom-divider;

	   a.icon {
	   	 font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	    font-size: 14px;
	    padding: 10px 0;
	    clear: both;
	    display: block;
	    float: left;
	    	i {
	    	float: left; 
	    	margin-top: -4px; 
	    	margin-right: 10px; 
	    	span {
	    		width: 30px; 
		    	height: 30px; 
		    	display: block; 
		    	background-size: 30px 30px;
	    		}
	    	}
	   	}

	}
	.entry-footer {
		width: 60%; 
		float: left; 
	}

	.more-articles {
		float: right !important;
		right: 10px;
		position: relative;
		margin-top: -25px;
	}

	a.more-articles:link, a.more-articles:visited a {
		color: $white;
	}


	.article-header {
		padding: 0 0 1.5em 0;

		a.icon {
			div {
				display: inline-block;
				padding-top: 5px;
				position: relative;
				vertical-align: top;
			}

			i {
				margin-right: 10px;
			}

			span {
				width: 30px;
				height: 30px;
				display: inline-block;
				background-size: 30px 30px !important;
			}
		}
	}

	span.author {
		font-weight: 600;
	}

	.category-single-post {
		margin-top: 15px;
	}

	.article-header .single-title {
		margin-bottom: 15px;
	}

	a.community i {
	    span {
	    	background: url('../images/category-pens/category-pen-teal2.svg') top no-repeat;
	    }
	}
	a.reading i {
	    span {
	    	background: url('../images/category-pens/category-pen-pink2.svg') top no-repeat;
	    }
	}
	a.writing i {
	    span {
	    	background: url('../images/category-pens/category-pen-yellow2.svg') top no-repeat; 
	    }
	}
	a.podcast i {
	    span {
	    	background: url('../images/category-pens/category-pen-blue-podcast2.svg') top no-repeat;
	    }
	}
	
// weird bug here ... function that adds body class imported from Spruce works on techsurgeons but not localhost ...
body.single-post .logo-main, body.category-writing .logo-main, body.category-reading .logo-main, body.category-community .logo-main, body.woocommerce .logo-main, body.woocommerce-cart .logo-main, body.single-product .logo-main {
	display: none;
}

body.blog #podcast-logo, body.blog #community-logo, body.blog #writing-logo, body.blog #reading-logo {
	display: none;

}

.home #community-logo, .home #podcast-logo, .home #writing-logo, .home #reading-logo {
	display: none;
}

.tag #community-logo, .tag #podcast-logo, .tag #writing-logo, .tag #reading-logo {
	display: none;
}

body.category-podcast.archive .logo-main {
	display: none;
}

body.category-community #community-logo {
	display: inline-block;
}
.logo-shopping {
	display: none;
}

body.woocommerce-cart .logo-shopping, body.single-product .logo-shopping {
	display: inline-block;
}

body.category-writing header ul#menu-sections.menu li:not(.write) a, body.category-reading header ul#menu-sections.menu li:not(.read) a, body.category-community header ul#menu-sections.menu li:not(.community) a, body.woocommerce header ul#menu-sections.menu li:not(.store) a   {
    filter: alpha(opacity=70);
    -moz-opacity: .40;
    opacity: .40;
    -khtml-opacity: .40;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);

    &:hover {
		-moz-opacity: 1.0;
		opacity: 1.0;
		filter: grayscale(0);
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-o-filter: grayscale(0);
		-ms-filter: grayscale(0);
    }
}

#menu-sections {
	li {
		a {
			font-weight: 400;
			-webkit-font-smoothing: subpixel-antialiased;
		}
	}
}
// additional woocommerce changes
.coupon {
	input {
		width: 100% !important;
		min-width: 200px !important;
		max-width: 400px !important;
		float: left !important;
		display: block !important;
		height: 40px !important;
	}

}

.actions {
	input.button {
		width: 100% !important;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
		text-align: center;
		text-align: right;
		margin-right: 23px;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: bold;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $pink;
      background-color: $header-black;

      &:hover, &:focus {
      	background-color: $aqua;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $white;
    	background-color: $aqua;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


/* Writer Igniter */

.jSlots-wrapper {
  overflow: hidden;
  height: 230px;
  display: inline-block;
  border: 4pxpx solid #262626;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  margin: 30px 2% 0 0;
  width: 48%;
  position: relative;
  z-index: 1;
  padding: 60px 5px 0 5px;
}
.jSlots-wrapper:last-of-type {
  margin-right: 0;
}
.jSlots-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.jSlots-wrapper ul li {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  line-height: 35px;
  padding-top: 30%;
  list-style-type: none;
  margin-left: 0px;
}
.jSlots-wrapper img {
  width: 100%;
}
.jSlots-wrapper:before {
  background-color: #262626;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 600;
  color: #FFFFFF;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.slot-1:before {
  content: "Character";
  border-bottom: solid 5px #FFA200;
}
.slot-2:before {
  content: "Situation";
  border-bottom: solid 5px #E71C75;
}
.slot-3:before {
  content: "Prop";
  border-bottom: solid 5px #00ADA8;
}
.slot-4 ul li {
  padding: 0;
}
.slot-4:before {
  content: "Setting";
  border-bottom: solid 5px #B4D15F;
}
.slot {
  float: left;
}
.slot li {
  height: 245px;
}

// %PlyBtn in buttons partial

.page-id-1979 h1 {
  border-bottom: dotted 1px #79796A;
  margin-bottom: 10px;
}
.page-id-1979 h3 {
  margin: 20px 0 0 0;
  float: left;
}
.page-id-1979 h3,
.page-id-1979 h4 {
  clear: left;
}
.page-id-1979 section.static-page ul {
  margin-top: 10px;
}
.page-id-1979 section.static-page ul li {
  list-style-type: none !important;
  margin-left: 5px;
}
.page-id-1979 section.static-page ul li a {
  background: url(images/list_pen.png) left top no-repeat;
  padding: 0 0 0 25px;
  display: inline-block;
}
.page-id-1979 section.static-page img.stw_thumbnail {
  border: solid 1px #79796A;
  float: left;
  margin: 0 20px 20px 0;
}
.page-id-1979 section.static-page p {
  clear: both;
}
.page-id-1979 section.static-page h4 {
  margin: 20px 0;
}

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}

/* Category Custom Styling */
// body.category-writing header a#logo {

// }

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*****************************************
SIDEBARS & ASIDES
********************************************/


#rightbar {
	display: none;
	// hide for mobile
	width: 205px;
    float: right;
    form {
    	// margin-bottom: 20%; 
    	fieldset {
    		padding: 0; 
    		margin: 0; 
    		border: none; 
    	}
    	input#search {
	    	float: left;
	    	width: 172px;
	    	height: 31px; 
		    }
		    input:not([type="submit"]) {
		    	border: 2px solid #79796A;
			    background-color: $white;
			    border-radius: 0px;
			    padding: 5px;
			}
			button {
			    background-color: #262626;
			    color: #FFFFFF;
			    border: none;
			    width: 31px;
			    height: 31px;
			}
			.ss-icon {
				font-family: "SSStandard";
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: none;
			    text-rendering: optimizeLegibility;
			    white-space: nowrap;
			    -webkit-font-feature-settings: "liga";
			    -moz-font-feature-settings: "liga=1";
			    -moz-font-feature-settings: "liga";
			    -ms-font-feature-settings: "liga" 1;
			    -o-font-feature-settings: "liga";
			    font-feature-settings: "liga";
			    -webkit-font-smoothing: antialiased;
			}

    }
}

// add yarpp-related - same styles as custom sidebar
.custom-sidebar, .yarpp-related {
	text-align: center;
    position: relative;
    padding: 35px 10px 10px 10px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    h2 {
	    background-color: $header-black;
	    text-transform: uppercase;
	    font-style: normal; 
	    font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, sans-serif; 
	    letter-spacing: .08em;
	    font-size: 15px;
	    color: #FFFFFF;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    padding: 7px 0;
	    margin-top: 0px;
	    font-weight: bold;	
    }
    i {
    	display: block;
	    position: absolute;
	    bottom: -12px;
	    color: #262626;
	    margin: 0 auto;
	    font-size: 30px;
	    width: 100%;
	    font-style: normal;
    }
    h3 {
    font-family: "ltc-bodoni-175", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    .highlight {
    	font-size: 92px;
    	display: block;
    	padding: 40px 0;
    	}
	}

	h4 {
		font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, sans-serif; 
		font-style: normal;
		font-size: 1.25em;
	    line-height: 120%;
	    font-weight: 500;
	    padding: 0 5px;
	    a {
	    	font-weight: 500;
	    }
	}
	
}

.custom-sidebar:nth-child(2) {
    background-color: rgba(255,213,140,0.5);
}

.custom-sidebar:nth-child(3) {
    background-color: rgba(139,218,215,0.5);
}

.custom-sidebar:nth-child(4) {
    background-color: rgba(244,152,193,0.5);
}

.yarpp-related {
	text-align: left;
	padding-bottom: 10px;
	ol {
		li {
			a {

				&:hover {
					color: #00ADA8;
				}
			}

			a.readit {
				color: #00ADA8;
			}
		}
	}
	h4 {
		a {
			color: $black;
			font-weight: bold;	
			&:hover {
				color: #00ADA8;
			}
		}
	}

	a.readit {
		display: block;
		color: #00ADA8;
		border-bottom: dotted 1px #79796A;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}

	a.icon {
		padding-top: 30px;
	}
}

// no sidebar, no join section
.main-no-sidebar {
	width: 100% !important; 
}

/* custom colors for blockquotes and related post links
	body class assigned in functions
*/

blockquote {
	padding: 25px !important;
	font-color: $black;
	font-style: normal;
	background: #FEF4F8;
	p {
		padding: 20px 8% 0 8%;
		color: $black;
		font-style: normal;
	}
}

.category-writing {
	blockquote {
		background: $orange-blockquote;
		&:before {
			width: 40px;
			height: 40px;
			content: url("../images/blockquote-left-orange.svg");
			margin-right: 10px;
	    }
	}
}

.category-writing {
	a.readit {
		color: $orange;
	}
}

.category-reading{
	blockquote {
		background: $pink-blockquote;
		&:before {
			width: 40px;
			height: 40px;
			content: url("../images/blockquote-left-pink.svg");
			margin-right: 10px;
	    }
	}
}

.category-reading {
	a.readit {
		color: $pink;
	}
}

.category-community {
	blockquote {
		background: $aqua-blockquote;
		&:before {
			width: 40px;
			height: 40px;
			content: url("../images/blockquote-left-teal.svg");
			margin-right: 10px;
	    }
	}
}

.category-community {
	a.readit {
		color: $aqua;
	}
}

.category-podcast {
	a.readit {
		color: $blue-podcast;
	}
	blockquote {
		background: $blue-blockquote;
		&:before {
			width: 40px;
			height: 40px;
			content: url("../images/blockquote-left-blue.svg");
			margin-right: 10px;
	    }
	}

	#menu-sections {
		li {

			a {
				filter: alpha(opacity=70);
			    -moz-opacity: .40;
			    opacity: .40;
			    -khtml-opacity: .40;
			    -webkit-transition: all 0.2s ease;
			    -moz-transition: all 0.2s ease;
			    -o-transition: all 0.2s ease;
			    -ms-transition: all 0.2s ease;
			    transition: all 0.2s ease;
			    filter: grayscale(100%);
			    -webkit-filter: grayscale(100%);
			    -moz-filter: grayscale(100%);
			    -o-filter: grayscale(100%);
			    -ms-filter: grayscale(100%);

			    &:hover {
					-moz-opacity: 1.0;
					opacity: 1.0;
					filter: grayscale(0);
					-webkit-filter: grayscale(0);
					-moz-filter: grayscale(0);
					-o-filter: grayscale(0);
					-ms-filter: grayscale(0);
			    }
			}
			
		}
	}

}

.single-product {
	blockquote {
		background: $green-blockquote;
		&:before {
			width: 40px;
			height: 40px;
			content: url("../images/blockquote-left-green.svg");
			margin-right: 10px;
	    }

	    &:after {
			width: 40px;
			height: 40px;
			content: url("../images/blockquote-right-green.svg");
			margin-right: 10px;
	    }
	}
}

.page {
	blockquote {
		background: $gray-blockquote;
		&:before {
			width: 40px;
			height: 40px;
			content: url("../images/blockquote-left-gray.svg");
			margin-right: 10px;
	    }

	}
}



#main .yarpp-related {
	display: none;
}

/*Original (Bones)*/
.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/


.footer {
	clear: both;
	color: $light-gray;
    background: url(../images/border-thick.png) repeat-x left bottom;
    margin-top: 120px;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

#footer-container {
	min-height: 125px;
	max-height: 130px;
	color: #000;
	padding: 10px;
	margin-bottom: 25px;
}

ul.footernav li {
	display: inline-block;
	color: #000;
}

.divider-footer {
	padding: 0 15px 0 15px;
	font-weight: bold;
}

.spruce {
	font-size: .8em;
	// a {
	// 	background: url(http://spruce.it/brand/signature-black.png) no-repeat top right;
	// 	padding: 0 25px 8px 0;
	// }
}


